<style>
    .footer-link {
        color: white;
    }

    .page-footer {
        background-color: #222222;
        padding-top: 100px;
        color: white;
    }

    #footer-hr {
        background-color: white;
    }
</style>

<!-- Footer -->
<footer class="page-footer pt-4">
    <div class="container-fluid text-center">
        <!-- Grid row -->
        <div class="row p-5">

            <!-- Grid column 1 -->
            <div class="col-lg-4 col-md-6 col-sm-6 p-3">
                <div>
                    <h3>eComm Website</h3>

                    <p>
                        <a class="footer-link" href="{% url 'home' %}">Home</a>
                        -
                        <a class="footer-link" href="{% url 'contact' %}">Contact</a>
                        -
                        <a class="footer-link" href="{% url 'products:product-list' %}">Products</a>
                    </p>

                    <p>eComm Website &copy; 2021 </p>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column 2 -->
            <div class="col-lg-4 col-md-6 col-sm-6 p-3">
                <div class="row">
                    <div class="col-4 text-right">
                        <i class="fa fa-map-marker fa-lg"></i>
                    </div>
                    <div class="col-8 text-left">
                        <p>A-16, plot no. 111, old mhada colony, vasanth vihar, Thane (w)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 text-right">
                        <i class="fa fa-phone fa-lg"></i>
                    </div>
                    <div class="col-8 text-left">
                        <p>+91 8369841640</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 text-right">
                        <i class="fa fa-envelope fa-lg"></i>
                    </div>
                    <div class="col-8 text-left">
                        <p><a class="footer-link" href="mailto:chetanbhogade999@gmail.com">Princymanidurai06@gmail.com</a></p>
                    </div>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column 3 -->
            <div class="col-lg-4 col-md-6 col-sm-6 p-3">
                <h5>About the College</h5>
                <p>National High School Marg, NES Road, Bhandup, Battipada, Bhandup West, Mumbai, Maharashtra 400078<br><i><u>Best College in Mumbai.....
                            Anything.</u></i></p>

                <div>
                    <a class="footer-link" href="https://www.facebook.com/pushpendra.shakya.1428/"><i class="fab fa-facebook-f fa-lg p-1"></i></a>
                    <a class="footer-link" href="https://twitter.com/Pushpen55823715"><i class="fab fa-twitter fa-lg p-1"></i></a>
                    <a class="footer-link" href="https://www.instagram.com/pushpendra_mauryaa/"><i class="fab fa-instagram fa-lg p-1"></i></a>
                    <a class="footer-link" href="https://github.com/PushpendraMaurya"><i class="fab fa-github fa-lg p-1"></i></a>
                </div>

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>

    <!-- Copyright -->
    <hr id="footer-hr">
    
    <div class="footer-copyright text-center py-3">© 2021 - 2022:
        <a class="footer-link" href="{% url 'home' %}"> eComm Website </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->